[submodule "android/CyanBridge/app/src/main/myvu-upstream"]
	path = android/CyanBridge/app/src/main/myvu-upstream
	url = https://github.com/FerSaiyan/Meizu-Myvu-Client.git
[submodule "third_party/moonshine"]
	path = third_party/moonshine
	url = https://github.com/moonshine-ai/moonshine.git
